{% extends 'base.html' %}
{% load static %}
{% block title %}
Список продуктов
{% endblock %}
{% block menu %}
    <div class='category-menu'>
    {% for category in categories %}
        <a href='/products/{{ category.pk }}'>{{ category }}</a>
    {% endfor %}
    </div>
{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>Название</th>
            <th>Дата поступления</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Поставщик</th>
            <th>Категории</th>
        </tr>
    {% for object in object_list %}
        <tr>
        <td>{{object.product_name}}</td>
        <td>{{object.date_in}}</td>
        <td>{{object.price}}</td>
        <td>{{object.amount}}</td>
        <td>{{object.supplier_name}}</td>
        <td>
            {% for category in object.category.all %}
                {{category.name}}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
        </tr>
    {% endfor %}
    </table>
    <button>Добавить товар</button>
{% endblock %}